<form role="form" class="comment-form">
	<div class="form-group">
		<textarea class="form-control"></textarea>
	</div>
	<button type="submit" class="btn btn-success submit-comment">submit</button>
</form>